#!/bin/bash	

set -eufo pipefail

{{ $taps := list
     "homebrew/cask-fonts"
     "homebrew/autoupdate"
     "nextdns/tap" -}}
{{ $brews := list
     "age"
     "bat"
     "bitwarden-cli"
     "chezmoi"
     "cmake"
     "curl"
     "docker"
     "fzf"
     "gh"
     "git"
     "gnupg"
     "go"
     "golangci-lint"
     "htop"
     "jq"
     "lazygit"
     "nextdns"
     "neovim"
     "node"
     "nvm"
     "pnpm"
     "pre-commit"
     "prettier"
     "protobuf"
     "reattach-to-user-namespace"
     "ripgrep"
     "skhd"
     "taplo"
     "thefuck"
     "tmux"
     "trash"
     "watchman"
     "wget"
     "wireshark"
     "yabai"
     "z"
     "zsh-syntax-highlighting" -}}
{{ $casks := list
     "chromedriver" 
     "font-jetbrains-mono-nerd-font"
     "google-chrome"
     "kitty"
     "slack"
     "spacelauncher"
     "visual-studio-code"
     "vlc" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
