#!/bin/bash	

set -eufo pipefail

{{ $taps := list
     "homebrew/cask-fonts" -}}

{{ $brews := list
     "bat"
     "bitwarden-cli"
     "chezmoi"
     "cmake"
     "curl"
     "fzf"
     "gh"
     "git"
     "gnupg"
     "go"
     "golangci-lint"
     "htop"
     "jq"
     "skhd"
     "yabai"
     "neovim"
     "node"
     "pnpm"
     "prettier"
     "protobuf"
     "ripgrep"
     "thefuck"
     "tmux"
     "trash"
     "watchman"
     "wget"
     "wireshark"
     "z"
     "zsh-syntax-highlighting" -}}
{{ $casks := list
     "font-jetbrains-mono-nerd-font"
     "goland"
     "google-chrome"
     "hammerspoon"
     "kitty"
     "slack"
     "tailscale"
     "visual-studio-code"
     "vlc" -}}


brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
